<template>
  <v-app>
    <NavBar />
    <v-main>
      <WeatherDashboard />
    </v-main>
  </v-app>
</template>


<script>
import NavBar from './components/NavBar.vue'
import WeatherDashboard from './components/WeatherDashboard.vue'

export default {
  name: 'App',

  components: {
    NavBar,
    WeatherDashboard,
  },

  data: () => ({
    //
  }),
}
</script>
