<template>
    <v-card>
        <v-card-title>Data table</v-card-title>
        <div v-if="selectedThing">
          <v-card-subtitle>{{ selectedThing.name }}</v-card-subtitle>
          <v-row>
            <v-col>
              <v-card-text>
                  <p>{{ selectedThing.data }}</p>
              </v-card-text>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              
            </v-col>
          </v-row>
        </div>
    </v-card>
    <div v-if="selectedThing">
      <data-table :data="data">
        <column field="name" label="Name" sortable></column>
        <column field="email" label="Email" sortable></column>
      </data-table>
    </div>

</template>


<script>
import { DataTable, Column } from 'vue-data-tables'

export default {
  name: 'DataTableComponent',
  components: {
    DataTable,
    Column,
  },
  props: {
    selectedThing: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      data: [
        { name: 'John', email: 'john@example.com' },
        { name: 'Jane', email: 'jane@example.com' }
      ]
    }
  },
}
</script>