<template>
    <v-card>
        <v-card-title>Graph</v-card-title>
        <!-- <v-card-text> -->
            <Line :data="chartData" :options="chartOptions" />
        <!-- </v-card-text> -->

    </v-card>

</template>
<script>
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
} from 'chart.js';
import { Line } from 'vue-chartjs';

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);


export default {
  name: 'LineChart',
  components: {
    Line,
  },
  props: {
    chartData: {
        type: Object,
        required: true
    },
    chartOptions: {
        type: Object,
        default: () => {}
    }
  },
};
</script>