<template>
    <div v-if="thing">
        <v-card>
            <v-card-title>Data</v-card-title>
            <v-card-subtitle>{{ thing.location }}</v-card-subtitle>
            <v-card-text>
                <v-table>
                    <thead>
                        <tr>
                            <th class="text-left">Date</th>
                            <th class="text-left">Temperature</th>
                            <th class="text-left">Humidity</th>
                            <th class="text-left">Wind</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in thing.data.slice(0, 15)" :key="item.date">
                            <td>{{ item.date }}</td>
                            <td>{{ item.temperature }}</td>
                            <td>{{ item.humidity }}</td>
                            <td>{{ item.wind }}</td>
                        </tr>
                    </tbody>
                </v-table>
            </v-card-text>
        </v-card>
 
    </div>
    
</template>

<script>
export default {
  name: 'TableComponent',
  props: {
    thing: Object
  }
}
</script>