<template>
    <v-container fluid>
        <v-row dense>
            <v-col
                v-for="thing in things"
                :key="thing.id"
                cols="12"
                md="4"
            >
                <v-card>
                    <v-row dense>
                        <v-col cols="7">
                            <v-card-title v-text="thing.location"></v-card-title>
                            <v-card-subtitle>{{ thing.name }}</v-card-subtitle>
                            <v-card-text>
                                <p>Temperature: {{ thing.data[0].temperature }} °C</p>
                                <p>Humidity: {{ thing.data[0].humidity }} %</p>  
                            </v-card-text>
                        </v-col>
                        <v-col cols="5">
                            <v-row>
                                <v-col>
                                    <v-spacer></v-spacer>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <img :src="thing.iconSrc" alt="icon">
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    
                    <v-card-actions>
                        <v-btn
                            color="primary"
                            text
                            @click="showData(thing)"
                        >
                            Show Data
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="6">
                <table-component :thing="selectedThing"></table-component> 
            </v-col>
            <v-col cols="6">
                <graph-component v-if="selectedThing" :chartData="computedChartData" :chartOptions="computedChartOptions"></graph-component>
            </v-col>
            </v-row>
    </v-container>
  </template>
  
<script>
import { API, graphqlOperation } from 'aws-amplify';
import { listThings } from '../graphql/queries';
import { listData } from '../graphql/queries';
import TableComponent from './TableComponent.vue';
import GraphComponent from './GraphComponent.vue';

export default {
name: 'WeatherDashboard',
components: {
    TableComponent,
    GraphComponent,  
},
async created() {
    this.getThings();
},
data() {
    return {
    things: [],
    selectedThing: null,
    chartData: {
        labels: [],
        datasets: [],
    },
    chartOptions: {},
    imgSrc: 'sun.png',
    }
},
methods: {
    async getThings() {
        try {
            const response = await API.graphql(graphqlOperation(listThings));
            response.data.listThings.items.forEach(item => {
                if (this.things.find((thing) => thing.name === item.id)) {
                    this.addData(item.name, { timestamp: item.id, temperature: item.temperature, humidity: item.humidity, wind: item.wind });
                    return;
                }
                let thing_obj = {
                    name: item.id,
                    location: item.location,
                    data: [
                        { temperature: item.temperature, humidity: item.humidity, wind: item.wind, timestamp: item.id },
                    ],
                    iconSrc: '',
                }
                this.things.push(thing_obj);
            });
            this.getData();
            this.updateImgSrc();
        }
        catch(error) {
            console.log('error (verify query items to be accurate): ', error);
        }
    },
    async getData() {
        const response = await API.graphql(graphqlOperation(listData));
        response.data.listData.items.forEach(item => {
            let date = this.convertTimestamp(item.timestamp);
            let data_date = date.toLocaleDateString() + " " + date.toLocaleTimeString();
            let data_obj = {
                timestamp: item.timestamp,
                date: data_date,
                temperature: item.temperature,
                humidity: item.humidity,
                wind: item.wind,
            }
            
            this.things.forEach(thing => {
                if (thing.name === item.name) {
                    thing.data.unshift(data_obj);
                }
                thing.data.sort((a, b) => {
                    let dateA = new Date(a.date);
                    let dateB = new Date(b.date);
                    return dateB - dateA
                })
            });
        });
      
        this.updateImgSrc();
    },
    addData(thingName, data) {
        this.things.forEach(thing => {
            if (thing.name === thingName) {
                thing.data.unshift(data);
            }
        });
    },
    updateImgSrc(){
        this.things.forEach(thing => {
            if (thing.data[thing.data.length - 1].temperature < 0 && thing.data[thing.data.length - 1].humidity > 50){
                thing.iconSrc = 'icons/snow.png';
            }
            else if (thing.data[thing.data.length - 1].temperature < 0 && thing.data[thing.data.length - 1].humidity < 50){
                thing.iconSrc = 'icons/cloudy.png';
            }
            else if (thing.data[thing.data.length - 1].temperature > 0 && thing.data[thing.data.length - 1].humidity > 50){
                thing.iconSrc = 'icons/rain.png';
            }
            else if (thing.data[thing.data.length - 1].temperature > 0 && thing.data[thing.data.length - 1].humidity < 50){
                thing.iconSrc = 'icons/sun.png';
            }
        });
    },
    convertTimestamp(timestamp){
        return new Date(timestamp * 1000)
    },
    async showData(thing){
        try {
            this.selectedThing = thing;
            this.updateImgSrc();
        }
        catch(error) {
            console.log('error (verify query items to be accurate): ', error);
        }
    },
},
computed: {
    computedChartData() {
        let tempData = [];
        let humidityData = [];
        let windData = [];
        let chartData = {
            labels: [],
            datasets: [],
        };
        if (this.selectedThing){
            this.selectedThing.data.slice(0, 15).forEach(data => {
                tempData.push(data.temperature);
                humidityData.push(data.humidity);
                windData.push(data.wind);
            });
            // console.log(tempData);
            chartData.datasets = [
                {
                    label: 'Temperature',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: tempData,
                },
                {
                    label: 'Humidity',
                    backgroundColor: 'rgb(54, 162, 235)',
                    borderColor: 'rgb(54, 162, 235)',
                    data: humidityData,
                },
                {
                    label: 'Wind',
                    backgroundColor: 'rgb(255, 205, 86)',
                    borderColor: 'rgb(255, 205, 86)',
                    data: windData,
                }
            ];
            const labels = [];
            this.selectedThing.data.slice(0, 15).forEach(data => {
                labels.push(data.date);
            });
            chartData.labels = labels;
        }
        return chartData;
    },
    computedChartOptions(){
        let chartOptions = {
            responsive: true,
        }
        return chartOptions;        
    }
}
}
</script>

